<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../assets/img/icono.png" alt="" width="40" class="logo"> Gestión de Recursos Humanos
        </a>
    </div>
</nav>
<div class="contenedor">
    <div class="row">
        <div class="col-sm-12 col-md-2 menu">
            <div class="list-group list-group-flush items">
                <a href="#" class="list-group-item list-group-item-action">
                    <em class="material-icons icono">account_circle</em> Datos básicos
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <em class="material-icons icono">sticky_note_2</em> Certificados
                </a>

                <a routerLink="/lista_peticiones" class="list-group-item list-group-item-action">
                    <em class="material-icons icono">book_online</em> Peticiones
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<footer>
    <div class="fixed-bottom pie">
        <div class="row text-center">
            <div class="col-sm-6 col-md-4">
                <img src="../assets/img/logo poli.png" class="logo" width="150">
            </div>
            <div class="col-sm-3 col-md-4">
                <p>Ingeniería de software </p>
                <p>Politécnico Grancolombiano </p>
                <p>Copyright © 2021 Todos los derechos reservados</p>
            </div>
            <div class="col-sm-3 col-md-4">
                <p>Integrantes:</p>
                <div class="row">
                    <div class="col-6">
                        <p>Martin Andrés Acosta Gonzalez </p>
                        <p>Yeimy Lorena Forero Martínez</p>
                        <p>Daniel Cabrera Rincón</p>
                        <p>Cindy Paola Estupiñan Lopez</p>
                    </div>
                    <div class="col-6">
                        <p>Yeison Bernardo Marquez Ortiz</p>
                        <p>Julian Galeano Bolivar</p>
                        <p>John Alexander Leyton Ramirez</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>